# **Guia Mangá de *Banco de Dados* Em Python**

ARQUIVOS CSV, CRIADOS PELA MINHA PARTE.

In [ ]:
import pandas as pd

# Caminho para o arquivo
caminho_arquivo = "/home/wermelinger_v/Documentos/GitHub/BancoDeDados/tabela_frutas.csv"

# Ler o CSV com pandas
df_frutas = pd.read_csv(caminho_arquivo)

# Exibir as 5 primeiras linhas da tabela
df_frutas.head()

   codigo_produto         nome_produto  preco_un
0               1     Caju Desidratada      6.45
1               2    Graviola Orgânica      1.83
2               3       Maçã Importada      1.00
3               4  Pitanga Desidratada     13.09
4               5               Banana      2.31

In [4]:
import pandas as pd

# Caminho para o arquivo
caminho_arquivo = "/home/wermelinger_v/Documentos/GitHub/BancoDeDados/tabela_destinos_exportacao.csv"

# Ler o CSV com pandas
df_exportação = pd.read_csv(caminho_arquivo)

# Exibir as 5 primeiras linhas da tabela
df_exportação.head()

   codigo_destino_exportacao nome_destino_export  populacao       distrito
0                          1     São Petersburgo    4746498      Comercial
1                          2        Buenos Aires    4291107            Sul
2                          3               Dubai    4092277          Leste
3                          4              Lisboa    6579285  Metropolitano
4                          5              Tóquio    3833928          Norte

## **EXECICIOS CÁP.4**

In [ ]:
# Q1
# Filtrar os destinos com população maior ou igual a 100
q1 = df_exportação[df_exportação["populacao"] >= 100]
# Exibir os destinos filtrados
print(q1)

     codigo_destino_exportacao nome_destino_export  populacao       distrito
0                            1     São Petersburgo    4746498      Comercial
1                            2        Buenos Aires    4291107            Sul
2                            3               Dubai    4092277          Leste
3                            4              Lisboa    6579285  Metropolitano
4                            5              Tóquio    3833928          Norte
..                         ...                 ...        ...            ...
245                        246         Los Angeles    7242708          Oeste
246                        247               Dubai    8935772            Sul
247                        248                Seul     565176     Industrial
248                        249              Berlim    7699110  Metropolitano
249                        250              Berlim    9214968          Leste

[250 rows x 4 columns]

In [ ]:
# Q2
# Filtrar os destinos com população menor que 100
q2 = df_exportação[df_exportação["populacao"] < 100]
# Exibir os destinos filtrados
print(q2)

Empty DataFrame
Columns: [codigo_destino_exportacao, nome_destino_export, populacao, distrito]
Index: []

In [ ]:
# Q3
# Filtrar os destinos com população maior ou igual a 100 e código de destino menor que 20
q3 = df_frutas[(df_exportação["populacao"] >= 100) & (df_exportação["codigo_destino_exportacao"] < 20)]
# Exibir os destinos filtrados
print(q3)

    codigo_produto         nome_produto  preco_un
0                1     Caju Desidratada      6.45
1                2    Graviola Orgânica      1.83
2                3       Maçã Importada      1.00
3                4  Pitanga Desidratada     13.09
4                5               Banana      2.31
5                6                 Maçã      2.60
6                7     Laranja Nacional      5.21
7                8  Abacaxi Desidratada     13.46
8                9              Cupuaçu      7.80
9               10      Amora Importada     16.90
10              11  Abacaxi Desidratada     14.43
11              12       Manga Orgânica      3.68
12              13     Banana Importada     16.34
13              14        Coco Orgânica      1.30
14              15       Amora Orgânica      3.38
15              16    Abacaxi Importada     12.73
16              17   Tangerina Orgânica      7.44
17              18     Cupuaçu Orgânica      1.39
18              19  Tamarindo Importada     10.96

In [ ]:
# Q4
# Filtrar os destinos com código de destino maior ou igual a 30 e população maior que 100
q4 = df_exportação[(df_exportação["codigo_destino_exportacao"] >= 30) & (df_exportação["populacao"] > 100)]
# Exibir os destinos filtrados
print(q4)

     codigo_destino_exportacao nome_destino_export  populacao       distrito
29                          30                Seul    2686142          Norte
30                          31        Buenos Aires     858904      Turístico
31                          32             Bangcoc    7371046  Metropolitano
32                          33              Lisboa    1200230          Leste
33                          34              Lisboa    1394333      Comercial
..                         ...                 ...        ...            ...
245                        246         Los Angeles    7242708          Oeste
246                        247               Dubai    8935772            Sul
247                        248                Seul     565176     Industrial
248                        249              Berlim    7699110  Metropolitano
249                        250              Berlim    9214968          Leste

[221 rows x 4 columns]

In [16]:
# Q5
# Filtrar os destinos onde o nome do destino é "Dubai"
q5 = df_exportação[df_exportação["nome_destino_export"] == "Dubai"]
# Exibir os destinos filtrados
print(q5)

     codigo_destino_exportacao nome_destino_export  populacao       distrito
2                            3               Dubai    4092277          Leste
15                          16               Dubai    8935946      Turístico
20                          21               Dubai    7358247  Metropolitano
35                          36               Dubai     588541      Histórico
48                          49               Dubai    4702400          Norte
49                          50               Dubai    1701675          Norte
137                        138               Dubai    4850774  Metropolitano
139                        140               Dubai    4265018      Turístico
141                        142               Dubai    4105117  Metropolitano
148                        149               Dubai    5623260  Metropolitano
150                        151               Dubai    9460828         Centro
156                        157               Dubai    4634249      Comercial
168                        169               Dubai    6987883      Histórico
212                        213               Dubai    6247480         Centro
214                        215               Dubai    1857383            Sul
217                        218               Dubai    9307478      Turístico
221                        222               Dubai    4220031          Oeste
226                        227               Dubai    7446527      Comercial
239                        240               Dubai    8249772      Histórico
241                        242               Dubai    3457438      Turístico
246                        247               Dubai    8935772            Sul

In [17]:
# Q6
# Filtrar os destinos onde o nome do destino contém a letra "N"
q6 = df_exportação[df_exportação["nome_destino_export"].str.contains("N", case=False)]
# Exibir os destinos filtrados
print(q6)

     codigo_destino_exportacao nome_destino_export  populacao       distrito
1                            2        Buenos Aires    4291107            Sul
5                            6           Barcelona    1499990      Histórico
9                           10        Buenos Aires    5139856          Leste
11                          12              Sydney    4425467          Norte
14                          15           Nova York    5323786          Norte
..                         ...                 ...        ...            ...
227                        228              Sydney    2692866     Industrial
235                        236              Sydney    8057333  Metropolitano
236                        237             Toronto    7402236  Metropolitano
242                        243         Los Angeles    2576848      Turístico
245                        246         Los Angeles    7242708          Oeste

[83 rows x 4 columns]

In [18]:
# Q7
# Encontrar a menor população entre os destinos
q7 = df_exportação["populacao"].min()
# Exibir a menor população
print(f"A menor população entre os destinos é: {q7}")

A menor população entre os destinos é: 116937

In [19]:
# Q8
# Encontrar a maior população entre os destinos
q8 = df_exportação["populacao"].max()
# Exibir a maior população
print(f"A maior população entre os destinos é: {q8}")

A maior população entre os destinos é: 9992806

In [20]:
# Q9
# Calcular a soma da população de todos os destinos
q9 = df_exportação["populacao"].sum()
# Exibir a soma da população
print(f"A soma da população de todos os destinos é: {q9}")

A soma da população de todos os destinos é: 1256138571

In [22]:
# Q10
# Calcular a soma da população dos destinos com código de destino maior que 20
q10 = df_exportação[df_exportação["codigo_destino_exportacao"] > 20]["populacao"].sum()
# Exibir a soma da população
print(f"A soma da população dos destinos com código de destino maior que 20 é: {q10}")

A soma da população dos destinos com código de destino maior que 20 é: 1166083529

In [23]:
# Q11
# Filtrar os destinos com código de destino maior ou igual a 100 e contar quantos são
q11 = df_exportação[df_exportação["codigo_destino_exportacao"] >= 100].shape[0]
# Exibir a contagem
print(f"Quantidade de destinos com código de destino maior ou igual a 100: {q11}")

Quantidade de destinos com código de destino maior ou igual a 100: 151

In [24]:
# Q12
# Filtrar os destinos onde o distrito é "Mar do Norte" e contar quantos são
q12 = df_exportação[df_exportação["distrito"] == "Mar do Norte"].shape[0]
# Exibir a contagem
print(f"Quantidade de destinos no distrito 'Mar do Norte': {q12}")

Quantidade de destinos no distrito 'Mar do Norte': 0

In [25]:
#Q13
# Encontrar a maior população entre os destinos do distrito "Mar do Norte"
q13 = df_exportação[df_exportação["distrito"] == "Mar do Norte"]["populacao"].max()
# Exibir a maior população
print(f"A maior população entre os destinos do distrito 'Mar do Norte' é: {q13}")

A maior população entre os destinos do distrito 'Mar do Norte' é: nan

In [27]:
# Q14
# Calcular a soma da população dos destinos que não são "Reino de Ritol"
q14 = df_exportação[df_exportação["nome_destino_export"] != "Reino de Ritol"]["populacao"].sum()
# Exibir a soma da população
print(f"A soma da população dos destinos que não são 'Reino de Ritol' é: {q14}")

A soma da população dos destinos que não são 'Reino de Ritol' é: 1256138571

**Q15 e Q16 – Observações importantes:**
As cláusulas WHERE após GROUP BY são inválidas em SQL puro — você deve usar HAVING. Em pandas, usamos .groupby() seguido de .filter() ou .agg().

In [ ]:
# Q15 - Média da população por distrito, com filtro >= 200
q15 = df_exportação.groupby("distrito")["populacao"].mean().reset_index()
q15 = q15[q15["populacao"] >= 200]  # equivalente ao HAVING AVG(populacao) >= 200
# Exibir a média da população por distrito com filtro
print(f"Média da população por distrito com filtro >= 200:\n{q15}")

Média da população por distrito com filtro >= 200:
        distrito     populacao
0         Centro  4.782813e+06
1      Comercial  4.534451e+06
2      Histórico  5.308784e+06
3     Industrial  4.747794e+06
4          Leste  5.801125e+06
5  Metropolitano  5.018843e+06
6          Norte  4.423092e+06
7          Oeste  5.462620e+06
8            Sul  4.788455e+06
9      Turístico  5.449685e+06

In [33]:
# Q16 - Contagem por distrito com filtro >= 3
q16 = df_exportação.groupby("distrito").size().reset_index(name="contagem")
q16 = q16[q16["contagem"] >= 3]  # equivalente ao HAVING COUNT(*) >= 3
# Exibir a contagem por distrito com filtro
print(f"Contagem por distrito com filtro >= 3:\n{q16}")

Contagem por distrito com filtro >= 3:
        distrito  contagem
0         Centro        27
1      Comercial        27
2      Histórico        21
3     Industrial        30
4          Leste        24
5  Metropolitano        32
6          Norte        20
7          Oeste        17
8            Sul        21
9      Turístico        31

**Q17 e Q18 – Relacionamento com outra tabela:**
Você precisa de dois DataFrames: detalhes_vendas e produto. Vamos simular isso:

In [36]:
# Suponha que temos estes DataFrames:
detalhes_vendas = pd.DataFrame({
    "codigo_produto": [101, 102, 103, 104],
    "quantidade": [2, 5, 1, 4]
})

produto = pd.DataFrame({
    "codigo_produto": [101, 102, 103, 104],
    "preco_unitario": [290, 310, 150, 500]
})

# Q17 - Detalhes de vendas com produtos de preço >= 300
produtos_caros = produto[produto["preco_unitario"] >= 300]["codigo_produto"]
q17 = detalhes_vendas[detalhes_vendas["codigo_produto"].isin(produtos_caros)]

# Q18 - Vendas com quantidade abaixo da média para o mesmo produto
q18 = detalhes_vendas.copy()
q18["media_produto"] = q18.groupby("codigo_produto")["quantidade"].transform("mean")
q18 = q18[q18["quantidade"] < q18["media_produto"]]
# Exibir os resultados das perguntas 17 e 18
print(f"Detalhes de vendas com produtos de preço >= 300:\n{q17}")
print(f"Vendas com quantidade abaixo da média para o mesmo produto:\n{q18}")

Detalhes de vendas com produtos de preço >= 300:
   codigo_produto  quantidade
1             102           5
3             104           4
Vendas com quantidade abaixo da média para o mesmo produto:
Empty DataFrame
Columns: [codigo_produto, quantidade, media_produto]
Index: []